---
import Button from '../components/Button.tsx'
---
<div class="mx-auto max-w-5xl mt-24">
	<div class="flex flex-col items-center gap-5 w-2/3 mx-auto">
		<h1 class="font-bold text-5xl text-center">Get your Wellbeing box<br> as easy as 1,2,3</h1>
		<p class="text-center text-slate-500">Lorem ipsum dolor ea aspernatur nulla, explicabo non cupiditate dolores at, provident, alias distinctio in adipisci aperiam.Alias ipsam voluptatum corporis natus velit fugit.</p>
	</div>
	<div class="flex grid-cols-3 mt-5">
		<div class="flex flex-col gap-1 items-center">
			<div class="size-40">
				<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width={1.5} stroke="currentColor">
					<path stroke-linecap="round" stroke-linejoin="round" d="m9.75 9.75 4.5 4.5m0-4.5-4.5 4.5M21 12a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z" />
				  </svg>
			</div>
			<h1 class="font-bold text-xl">Free shipping</h1>
			<p class="text-center text-slate-500">Lorem ipsum dolor sit, amet consectetur adipisicing elit, explicabo non cupiditate dolores at.</p>
		</div>
		<div class="flex flex-col gap-1 items-center">
			<div class="size-40">
				<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width={1.5} stroke="currentColor">
					<path stroke-linecap="round" stroke-linejoin="round" d="m9.75 9.75 4.5 4.5m0-4.5-4.5 4.5M21 12a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z" />
				  </svg>
			</div>
			<h1 class="font-bold text-xl">Free shipping</h1>
			<p class="text-center text-slate-500">Lorem ipsum dolor sit, amet consectetur adipisicing elit, explicabo non cupiditate dolores at.</p>
		</div>
		<div class="flex flex-col gap-1 items-center">
			<div class="size-40">
				<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width={1.5} stroke="currentColor">
					<path stroke-linecap="round" stroke-linejoin="round" d="m9.75 9.75 4.5 4.5m0-4.5-4.5 4.5M21 12a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z" />
				  </svg>
			</div>
			<h1 class="font-bold text-xl">Free shipping</h1>
			<p class="text-center text-slate-500">Lorem ipsum dolor sit, amet consectetur adipisicing elit, explicabo non cupiditate dolores at.</p>
		</div>
	</div>
	<div class="flex items-center justify-center mt-10">
		<Button text="Get your box today" type="secondary" client:load />
	</div>
</div>
