---
import Subimage from "../../public/subimage.png"
---
<div class="bg-[#edae6f]">
	<div class="flex flex-row grid-cols-2 bg-[#d2d3a0] mx-auto max-w-5xl">
		<div class="flex flex-col gap-3 w-1/2">
			<h1 class="text-2xl">Subscribe and get 10% OFF</h1>
			<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit sed <br> do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
			<div class="flex mt-5">
				<input type="email" placeholder="Enter your email" class=" bg-white px-4 py-2 rounded-l-md rounded-full"/>
				<button type="submit" class="bg-[212806] text-white px-4 py-2 rounded-r-md bg-[#212806] rounded-full">Subscribe</button>
			</div> 
		</div>
		<div class="w-1/2 pl-10">
			<img src={Subimage.src} alt="subimage" class=""/>
		</div>
	</div>
</div>




